/*
	Author: ThePretender
	Template: locco
	URL: http://themeforest.net/user/thepretender
*/
/*Global less variebles*/
/*----------------------------------------
	TYPOGRAPHY
----------------------------------------*/
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #474747;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #474747;
  line-height: 1.5em;
}
a {
  color: #0099e6;
}
.btn {
  border: 1px solid #c7d7e5;
  border-radius: 0;
  padding: 14px 30px;
  margin: 15px 0;
}
.btn.btn-primary {
  background: #0099e6;
}
/*----------------------------------------
	BODY, MAIN
----------------------------------------*/
body {
  background: #fff;
}
.main {
  font-family: 'Open Sans', sans-serif;
}
/*----------------------------------------
	HEADER
----------------------------------------*/
header {
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 999;
}
header .logo {
  padding: 32px 15px;
}
header .logo a {
  display: inline-block;
}
header .navbar-toggle {
  border: 1px solid #0099e6;
  outline: none;
  top: 34px;
  right: 15px;
  position: absolute;
  z-index: 999;
}
header .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #0099e6;
}
header .menu .navbar-collapse {
  padding: 0;
}
header .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .menu ul li {
  display: block;
  float: left;
  position: relative;
}
header .menu ul li a {
  padding: 48px 15px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0099e6;
  text-decoration: none;
  display: block;
  float: left;
}
header .menu ul li.active a,
header .menu ul li:hover a {
  border: 1px solid #c7d7e4;
  background: #0099e6;
  color: #fff;
}
header .menu ul li.active ul,
header .menu ul li:hover ul {
  display: block;
}
header .menu ul li.active ul li a,
header .menu ul li:hover ul li a {
  border: none;
}
header .menu ul li ul {
  display: none;
  position: absolute;
  padding: 10px 0;
  top: 119px;
  width: 200px;
  background: #0099e6;
}
header .menu ul li ul li {
  float: none;
}
header .menu ul li ul li a {
  border: none;
  float: none;
  font-weight: 300;
  display: block;
  padding: 0 15px;
  margin: 15px 0;
  font-size: 13px;
  text-transform: none;
  color: #fff;
}
header .menu ul li ul li a.active,
header .menu ul li ul li a:hover {
  border: none;
  text-decoration: underline;
}
header .menu ul li.has-submenu a {
  background: url(../images/submenu-arrow.png) no-repeat center 70px;
}
header .menu ul li.has-submenu:hover a {
  background: url(../images/submenu-arrow-h.png) no-repeat center 70px #0099e6;
}
header .soc-media ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 45px 0 0 0;
}
header .soc-media ul li {
  float: left;
}
header .soc-media ul li a {
  margin-left: 4px;
  float: left;
  display: block;
  width: 26px;
  height: 26px;
  background: url(../images/soc.png) no-repeat;
}
header .soc-media ul li.facebook a {
  background-position: 0 0;
}
header .soc-media ul li.twitter a {
  background-position: -26px 0;
}
header .soc-media ul li.linkedin a {
  background-position: -52px 0;
}
/*----------------------------------------
	MAIN-SLIDER
----------------------------------------*/
.main-slider-wrapper .main-slider .slide {
  outline: none;
  padding: 120px 0;
  position: relative;
}
.main-slider-wrapper .main-slider .slide .slider-image {
  display: none;
}
.main-slider-wrapper .main-slider .slide .desc {
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.95);
}
.main-slider-wrapper .main-slider .slick-arrow {
  border: none;
  text-indent: 999px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  background: url(../images/main-slider-controls.png) no-repeat;
  outline: none;
  position: absolute;
  z-index: 999;
  top: 50%;
  margin-top: -35px;
  opacity: 0;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
.main-slider-wrapper .main-slider .slick-prev {
  left: 5%;
  background-position: 0 0;
}
.main-slider-wrapper .main-slider .slick-next {
  right: 5%;
  background-position: -70px 0;
}
.main-slider-wrapper .main-slider:hover .slick-arrow {
  opacity: 0.7;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}
/*----------------------------------------
	1200 width
----------------------------------------*/
@media screen and (max-width: 1200px) {
  header .menu ul li a {
    font-size: 13px;
  }
  header .menu ul li ul {
    top: 116px;
  }
  header .menu ul li ul li a {
    font-size: 12px;
  }
}
/*----------------------------------------
	992 width
----------------------------------------*/
@media screen and (max-width: 992px) {
  header .logo {
    padding: 31px 15px;
  }
  header .menu ul li a {
    font-size: 12px;
    padding: 38px 5px;
  }
  header .menu ul li ul {
    top: 95px;
    padding: 5px 0;
  }
  header .menu ul li ul li a {
    font-size: 12px;
  }
  header .menu ul li.has-submenu a {
    background: url(../images/submenu-arrow.png) no-repeat center 60px;
  }
  header .menu ul li.has-submenu:hover a {
    background: url(../images/submenu-arrow-h.png) no-repeat center 60px #0099e6;
  }
  header .soc-media ul {
    margin: 35px 0 0 0;
  }
}
/*----------------------------------------
	767 width
----------------------------------------*/
@media screen and (max-width: 767px) {
  header .logo {
    padding: 31px 15px 15px 15px;
  }
  header .menu {
    padding-bottom: 20px;
  }
  header .menu ul li {
    float: none;
  }
  header .menu ul li a {
    border: 1px solid #c7d7e4;
    margin: 1px 0;
    float: none;
    display: block;
    font-size: 12px;
    padding: 10px;
  }
  header .menu ul li ul {
    display: block;
    position: relative;
    top: 0;
    width: auto;
  }
  header .menu ul li ul li a {
    display: block;
  }
  header .soc-media {
    display: none;
  }
  .main-slider-wrapper .main-slider .slide {
    padding: 50px 0;
  }
  .main-slider-wrapper .main-slider .slick-arrow {
    display: none !important;
  }
}
/*mixed functions*/
/*border-radius*/
/*background-gradient*/
/*transition*/
/*box-shadow*/
/*box-shadow: 0 0 10px rgba(0,0,0,0.5)*/
/*text-shadow*/
/*text-shadow: 1px 1px 2px black*/
